.testimonial .swiper {
  overflow: visible !important;
}

.testimonial .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial .swiper-slide-active {
  box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.03);
}

.testimonial .swiper-button-next {
  top: -59px;
  right: 0;
}

.testimonial .swiper-button-prev {
  top: -59px;
  right: 55px;
  left: auto;
}

@media (max-width: 640px) {
  .testimonial .swiper-button-next {
    top: auto;
    bottom: -70px;
    right: calc(50% - 48px);
  }

  .testimonial .swiper-button-prev {
    top: auto;
    bottom: -70px;
    right: calc(50% + 10px);
    left: auto;
  }
}
